<div class="container mt-5">
  <div class="card-deck text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">ログイン画面</h4>
      </div>
      <div class="card-body text-start">
        <%= render 'layouts/error_massages', object: @session %>
        <%= form_with model: @session, url: login_path, local: true do |f| %>
          <div>
            <%= f.label :email, class: 'mb-2' %>
            <%= f.email_field :email, class: 'form-control mb-4', required: true %>
            <%= f.label :password, class: 'mb-2' %>
            <%= f.password_field :password, class: 'form-control mb-4', required: true %>
          </div>

          <div>
            <%= f.submit "ログイン", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
